{% extends "base_lnc.html" %}
{% block beta %}{% endblock %}
{% block drawer_toggle %}{% endblock %}
{% block drawer %}{% endblock %}
{% block footer %}{% endblock %}
{% block toolbar %}{% endblock %}
{% block toolbar_title %}
<a
  href="/"
  class="inherit q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--rectangle q-btn--actionable q-focusable q-hoverable q-btn--no-uppercase q-btn--wrap q-btn--dense q-btn--active"
  style="font-size: 20px"
>
  <img height="30px" alt="Logo" src="{{ USE_CUSTOM_LOGO }}" />
</a>
{% endblock %}
